.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.base-container{
  padding: 10px;
}
.tree-item{
  margin-left: 40px;
}
.panel-top{
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: gray;
}
.item-left-first{
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}
.item-left{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.menu-item{
}
.menu-item:hover{
  background-color: lightblue;
}
.panel-left{
  float: left;
}
.menu-list{
  width: 300px;
  overflow-y: scroll;
  height: calc(100vh - 64px);
}
.panel-right{
  float: left;
  width: calc(100% - 340px);
  scroll-behavior: inherit;
  overflow-y: scroll;
  height: calc(100vh - 43px);
}